{% extends 'base.html' %}

{% block body %}

<h3 class="alert alert-success">Balance has been Transferred successfully.</h3><br><br>

{% if cbalance %}
<form action="/account/">
	<button style="font-size: 20px;" class="btn btn-primary">Back</button>
</form><br><br><hr>
<p><b>Sender's Current Balance: </b>{{ cbalance.send_current }}</p>
<p><b>Receiver's Current Balance: </b>{{ cbalance.receive_current }}</p><hr>
{% endif %}
<br><br>
<h3 class="alert alert-success">Confirmation Link: <a href="{{ cbalance.confirm }}">{{ cbalance.confirm }}</a></h3><br><br>

{% endblock body %}
